                                * {
                                    font-family: 'Nanum Myeongjo', serif;
                                }
                                
                                .stress {
                                    font-size: 30;
                                }
                                
                                img {
                                    width: 700px;
                                    height: 300px;
                                    display: block;
                                    border: 1px black;
                                }
                                
                                .wrapper {
                                    max-width: 700px;
                                    margin: 0px auto;
                                }
                                
                                .firstp {
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                }
                                
                                .line {
                                    display: inline-block;
                                }
                                
                                table {
                                    border: 1px solid;
                                    border-collapse: collapse;
                                    width: 700px;
                                }
                                
                                td,
                                th {
                                    padding: 10px;
                                    border: 1px solid;
                                }